%header.f3.pv3.ph2

  %nav
    %nav.pa3.pa4-ns
      .fl.w-30
        %a.link.dim.black.b.f6.f5-ns.dib.mr3{:href => "/index.html", :title => "Home"} Ralph Möcklinghoff
      .fl.w-70.tr
        %a.link.dim.gray.f6.f5-ns.dib.mr3{:href => "/about.html", :title => "Home"} Über mich
        %a.link.dim.gray.f6.f5-ns.dib.mr3{:href => "#{}", :title => "About"} Blog
        %a.link.dim.gray.f6.f5-ns.dib.mr3{:href => "/contact.html", :title => "Store"} Kontakt
