.pa2
  .f2.sommet-rounded.pa4.tracked.black-90
    = t("index.claim")

  .w-100.center.mw9
    %p.fl.w-100.w-50-ns.f4.lh-copy.pa2
      = t("index.applications")
    %p.fl.w-100.w-50-ns.f4.lh-copy.pa2
      = t("index.sites")

    .fl.w-100.w-third-ns.pa3
      %p.tc.pb2.bb.bw2.b--light-blue
        Twitter

    .fl.w-100.w-third-ns.pa3
      %p.tc.pb2.bb.bw2.b--light-blue
        Über dies Seite

    .fl.w-100.w-third-ns.pa3
      %p.tc.pb2.bb.bw2.b--light-blue
        Meine Termine
